.displayBox {
    height: 275px;
    width: auto;
}

button {
    margin: 2px;
    cursor: pointer;
}

h3 {
    text-align: center;
}

.active {
    background-color: hsl(60, 75%, 36%);
}

.nearMaxMass {
    font-style: italic;
    color: hsl(0, 100%, 50%);
}


/* Add the 'nearMaxMass' class style here: */
